#seed-phrase-div {
  display: none;
  text-align: center;
  padding: 1em;
}

#seed-phrase-view-div {
  display: none;
}

#seed-confirm-div {
  display: none;
}

#seed-view {
  padding: 1em;
  font-size: 1.3em;
  width: 80%;
  height: 10em;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.seed-word-confirm-input {
  width: 5em;
  padding: 0.5em;
  margin-left: 1em;
  margin: 0.5em;
  text-align: center;
}

.seed-word-confirm-input, .seed-word-confirm-input {
  display: inline-block;
}

#confirm-seed-button {
  margin-right: 1em;
}
